<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.load("visualization", "1", {packages:["gauge"]});


      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
                
        data.addColumn('string', 'Languages');
        data.addColumn('number', 'Usage');
        data.addColumn({type: 'number', role: 'tooltip'});
        data.addRows( {{ language_data | safe }}  );
        //data.addRows( [["Turkish", 6, 6], ["Portuguese", 1, 1] ]  );

        // Set chart options
        var options = {'title':'Most used languages on Twitter: All Tweets',
                       'width':800,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        
        
        // ------------------------------------------------------------------//
        // ------------------------------------------------------------------//
     
        
        var data2 = new google.visualization.DataTable();
                
        data2.addColumn('string', 'Languages');
        data2.addColumn('number', 'Usage');
        data2.addColumn({type: 'number', role: 'annotation'});
        data2.addRows( {{ top_language_data | safe }}  );

        // Set chart options
        var options2 = {'title':'Most used languages on Twitter: Top Tweets',
                       'width':800,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

        chart2.draw(data2, options2);
        
         // ------------------------------------------------------------------//
        // ------------------------------------------------------------------//

        
        var data3 = new google.visualization.DataTable();
                
        data3.addColumn('string', 'Words');
        data3.addColumn('number', 'Usage');
        data3.addColumn({type: 'number', role: 'annotation'});
        data3.addRows( {{ words_data | safe }}  );

        // Set chart options
        var options3 = {'title':'Kind Words vs Swear Words',
                       'width':800,
                       'height':600,
                       is3D: true};

        // Instantiate and draw our chart, passing in some options.
        var chart3 = new google.visualization.PieChart(document.getElementById('chart_div3'));

        chart3.draw(data3, options3);
        
        // ------------------------------------------------------------------//
        // ------------------------------------------------------------------//        
                      
        var data4 = google.visualization.arrayToDataTable(
          {{words_data_gauge | safe }}
        );

        var options4 = {
          width: 800, height: 240,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        // Instantiate and draw our chart, passing in some options.
        var chart4 = new google.visualization.Gauge(document.getElementById('chart_div4'));

        chart4.draw(data4, options4);
        
        // ------------------------------------------------------------------//
        // ------------------------------------------------------------------//        

      }
    </script>
    
 
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <div id="chart_div2"></div>
    <div id="chart_div3"></div>
    <div id="chart_div4"></div>

    {% for tweet in tweets %}
        {{ tweet2 | safe}}
    {% endfor %}